/* jumbotron */

.jumbotron.banner {
  background: url(../img/freddie-mercury-bw.jpg) no-repeat center;
  background-size: contain;
  color: black;
  padding-top: 10rem
}

.jumbotron {
  margin-bottom: 30px;
}
