/* jumbotron */

.jumbotron.banner {
  background: url(../img/inglouriousbasterds05.jpg) no-repeat center;
  background-size: 100% auto;
  color: black;
  padding-top: 10rem
}

.jumbotron {
  margin-bottom: 15px;
  margin-top: 0px;
}
